html, body {
    margin: 0;
}
.layout-wrapper {
    margin: 0;
    display: flex;
    min-height: 100vh;
}
.layout-side {
    /*background-color: #324057;*/
    background-color: #eef1f6;
}
.layout-side-extend, .layout-side-extend .el-menu .el-submenu, .layout-side-extend .el-menu li .el-menu .el-menu-item{
    width: 155px;
    min-width: 155px;
}
.layout-side i {
    margin-right: 10px;
}
.layout-logo {
    height: 30px;
    border-radius: 4px;
    /*background-color: #333333;*/
    background-color: #D3DCE6;
    margin: 10px 15px;
}
.layout-main {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.layout-header {
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
}
.layout-body {
    padding: 25px;
    flex: 1;
}
.layout-footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    color: #999999;
}

.layout-header .i-button {
    margin: 0 15px;
    cursor: pointer;
}

.pagination-bar {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.pagination-bar .el-pagination {
    padding: 0;
}
.el-submenu__icon-arrow{
    right: 8px !important;
}

.body-title {
    font-size: 20px
}
